.img {
  background-image: url("./img/code1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
}
.iam {
  font-size: 3rem;
}
.hello {
    font-size: 2.7rem;
}
.dt {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
}
@media (max-width: 1200px) {
  .hello {
    font-size: 1.8rem;
  }
  .iam {
    font-size: 2rem;
  }
  .dt {
    font-size: 1.3rem;
    line-height: 2.3rem;
}
}
@media (max-width: 1000px) {
  .hello {
    font-size: 1.5rem;
  }
  .iam {
    font-size: 1.8rem;
  }
  .dt {
    font-size: 1.1rem;
    line-height: 2.1rem;
}
}
@media (max-width: 576px) {
  .hello {
    font-size: 1.2rem;
  }
  .iam {
    font-size: 1.7rem;
  }
  .dt {
    font-size: 1rem;
    line-height: 2rem;
}
}
